//null style
*{padding:0;margin:0;border:0;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:13px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
h1,h2,h3{font-size:inherit;font-weight:inherit;}

@mixin name-style() {
	font-weight: 600;
	color: hsl(0, 0%, 81%);
	line-height: 150%;
}
@mixin role-style () {
	color: hsl(0deg 0% 81% / 50%);
	font-weight: 500;
	font-size: 0.85rem;
}
@mixin title-style() {
	font-size: 1.52rem;
	font-weight: 600;
	color: hsl(0, 0%, 81%);
	line-height: 1.2;
	letter-spacing: 0.1px;
	margin-bottom: 16px;
}
@mixin text-style() {
	color: hsl(0deg 0% 81% / 70%);
	font-weight: 500;
	line-height: 1.4;
}
body {
	background-color: hsl(210, 46%, 95%);
	display: grid;
}

main {
	font-family: 'Barlow Semi Condensed', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
 display: grid;
 grid-template: 1fr 1fr/repeat(4, 1fr);
 max-width: 1110px;
 column-gap: 30px;
 row-gap: 24px;
 padding: 20px 20px;
 @media(max-width: 1100px) {
	display: block;
	max-width: 700px;
	& >article{
		margin-bottom: 20px;
	 }
 }
}


.card-container {
	padding: 23px 30px 30px 30px;
}
.reporter {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 16px;
	&__photo {
		width: 28px;
		img {
			max-width: 100%;
			border-radius: 50%;
		}
	}
}

.daniel {
	grid-column: 1 / 3;
	border-radius: 8px;
	background-color: hsl(263, 55%, 52%);
	background-image: url(./images/bg-pattern-quotation.svg);
	background-position: top 0rem right 1.5rem;
	background-repeat: no-repeat;
		&__img {
			border: 2px solid hsl(263deg 72.52% 68.1%);
		}
		&__name {
			@include name-style();
		}

		&__role {
			@include role-style();
		}

		&__title {
			@include title-style();
		}

		&__text {
			@include text-style();
		}
}
.jonathan {
	border-radius: 5px;
	background-color: hsl(217, 19%, 35%);
		&__name {
			@include name-style();
		}

		&__role {
			@include role-style();
		}

		&__title {
			@include title-style();
		}

		&__text {
			@include text-style();
		}
}
.jeanette {
	border-radius: 5px;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 3px 3px 24px rgb(142 142 142 / 48%);
		&__name {
			@include name-style();
			color: hsl(217, 19%, 35%);
		}

		&__role {
			@include role-style();
			color: hsl(217deg 19% 35% / 50%);
		}

		&__title {
			@include title-style();
			color: hsl(217, 19%, 35%);
		}

		&__text {
			@include text-style();
			color: hsl(217deg 19% 35% / 70%);
		}
}
.patrick {
	grid-column: 2/4;
	border-radius: 5px;
	background-color: hsl(219, 29%, 14%);
	&__img {
		border: 2px solid hsl(263deg 72.52% 68.1%);
	}
		&__name {
			@include name-style();
		}

		&__role {
			@include role-style();
		}

		&__title {
			@include title-style();
		}

		&__text {
			@include text-style();
		}
}
.kira {
	grid-column-start: 4;
	grid-row: 1 / 3;
	border-radius: 5px;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 3px 3px 24px rgb(142 142 142 / 48%);
		&__name {
			@include name-style();
			color: hsl(217, 19%, 35%);
		}

		&__role {
			@include role-style();
			color: hsl(217deg 19% 35% / 50%);
		}

		&__title {
			@include title-style();
			color: hsl(217, 19%, 35%);
		}

		&__text {
			@include text-style();
			color: hsl(217deg 19% 35% / 70%);
		}
}
